body{
    display: flex;
    justify-content: center;
}

.body-lateral{
    width: 20vw;
    background-color: rgb(4, 4, 248,0.3);
}

.body-centro{
    width: 80vw;
    background-color:rgb(240, 10, 10,0.3);
}

.header-principio{
    display: flex;
    justify-content: space-between;
}

.header-margen-contenido{
    width: 33%;
    display: flex;
    justify-content: center;
}

.header-seccion-botones{
    display: flex;
    align-items: center;
}

.boton-header{
    margin: 10px;
    width: 100px;
    height: 100px;
    /*transition: background, width 0.7s linear;*/
    transition: 
    width,
    height,
    background-color,
    linear 0.2s;
}

.boton-header:hover{
    transition: 
    width,
    height,
    background-color,
    linear 0.2s;

    background-color: rgb(107, 8, 201,0.5);
    width: 105px;
    height: 105px;
}

/*@keyframes cambiar-color {
    to {
        background-color: rgba(238, 9, 238, 0.5);
    }
}*/



.img-header{
    width: 100px;
    height: 100px;
}

